html, body {
  font-size: 14px;
  /*height: 100%;
  /*margin: 0px;
  padding: 0px;*/
}

/*md-sidenav {
    max-width: 200px;
    max-height: 300px;
    background-color: lightgray;
}

md-list-item > button {
  width: 100%;
  text-align:left !important;
}*/

/*#content {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}*/

.fill-height {
  /*display: flex;*/
  /*flex: 1;*/
  min-height: 90%;
}

/*.fill-height > div {*/
  /*min-height: 100%;*/
  /*display: flex;*/
/*}*/


.md-content ._md.flex {
  padding-left: 30px;
}

/*.side-nav .md-button-toggle .md-button {
  transition: transform .3s ease-in-out;
  -webkit-transition: -webkit-transform .3s ease-in-out;
}*/

/*.nav-toggle-list {
  font-size: 4px;
}*/

.side-nav {
  margin-left: px;
}

#sidenavigation {
  max-width: 255px;
  /*margin-left: -15px;*/
}

.side-nav .md-button {
  text-align: left;
  font-size: 14px;
}

.side-nav .md-button > md-icon {
  padding-right: 10px;  
}

.side-nav .md-button.active {
  color: #2196F3;
  background-color: #E0E0E0;
}

.side-nav .md-button-toggle.active {
  color: #2196F3;
}

.nav-toggle-list {
  font-size: 5px;
  background: #fff;
  max-height: 300px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.1s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height;
  -moz-transition: 0.1s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height;
  transition: 0.1s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height;
}

.externalLinks {
  background-color: #E0E0E0;
  padding-left: 15px;
  /*max-width: 200px; */
   
}

.externalLinks > a.md-button { 
  /* background-color: pink; */
  min-width: 55px;
}


.md-button-toggle .md-toggle-icon.toggled {
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
}

.side-nav .md-button-toggle .md-toggle-icon {
  background-size: 100% auto;
  display: inline-block;
  margin: auto 0 auto auto;
  width: 15px;
  color: darkgray;
  transition: transform .3s ease-in-out;
  -webkit-transition: -webkit-transform .3s ease-in-out;
}

.md-toolbar-tools {
  font-size: 35px;
  
}

.toolbarheader {
  max-height: 60px;
  
}



.arrow {
  cursor: pointer;
  display: block;
  height: 32px;
  margin-top: -35px;
  outline: medium none;
  position: absolute;
  top: 50%;
  width: 32px;
  z-index: 5;
}

.arrow.prev {
  background-image: url("../img/arrow-left.png");
  left: 5px;
  opacity: 0.2;
  /* transition: all 0.2s linear 0s; */
}

.arrow.next {
  background-image: url("../img/arrow-right.png");
  opacity: 0.2;
  right: 5px;
  transition: all 0.2s linear 0s;
}

.arrow.prev:hover{
  opacity:1;
}
.arrow.next:hover{
  opacity:1;
}

.img-nav {
  bottom: -44px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    left: 0;
    margin: 0 auto;
    padding: 1em 0 0.8em;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 5;
}

.img-nav li {
  border: 5px solid #AAAAAA;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  margin: 0 8px;
  position: relative;
  width: 50px;
}

.img-nav li.active {
  border: 5px solid #FFFFFF;
}

.img-nav li img {
  width: 100%;
}

.slider {
    border: 8px solid #FFFFFF;
    border-radius: 5px;
    height: 500px;
    margin: 10px auto;
    position: relative;
    width: 750px;

  /* -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d; */
}

.slide {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  /* position: absolute; */
  top: 0;
  left: 0;
  max-width: 680px;
  max-height: 480px;
}

.slide.ng-hide-add {
  opacity:1;

  /* -webkit-transition:1s linear all;
  -moz-transition:1s linear all;
  -o-transition:1s linear all;
  transition:1s linear all;

  -webkit-transform: rotateX(50deg) rotateY(30deg);
  -moz-transform: rotateX(50deg) rotateY(30deg);
  -ms-transform: rotateX(50deg) rotateY(30deg);
  -o-transform: rotateX(50deg) rotateY(30deg);
  transform: rotateX(50deg) rotateY(30deg);

  -webkit-transform-origin: right top 0;
  -moz-transform-origin: right top 0;
  -ms-transform-origin: right top 0;
  -o-transform-origin: right top 0;
  transform-origin: right top 0; */
}

.slide.ng-hide-add.ng-hide-add-active {
  opacity:0;
}

.slide.ng-hide-remove {
  /* -webkit-transition:1s linear all;
  -moz-transition:1s linear all;
  -o-transition:1s linear all;
  transition:1s linear all; */

  display:block!important;
  opacity:0;
}

.slide, .slide.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}




#toolbar-top {
  padding-left: 45px;
  margin-top: -7px;
  white-space: nowrap;  
}

.menu {
  margin-right: -30px;
}

.md-subheader {
  text-align: center;
  margin-top: 30px;
}

.webprojectspage{
  padding-right: 5px;
  padding-left: 5px;
}

.androidprojectspage {
  padding-right: 5px;
  padding-left: 5px;
}

.homepage {
  padding-left: 80px;
  padding-top: 20px;
}

.aboutpage {
  padding-left: 30px;
  padding-top: 20px;
}

.contactpage {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}

md-tab-content {
  background-color: #2196F3;
  color: white;
  /*max-height: 180px;*/
}

md-card {
  max-width: 800px;
  margin: 20px;
}

#docs-nav-Portfolio li:first-child  {
  font-size: 5px;
  color: #dce775;
  margin-left: -20px;
}

#docs-nav-Portfolio li:nth-child(2)  {
  color: #72d572;
  margin-left: -20px;
}

#profile {
  max-width: 250px;
}

#bio {
  padding-right: 150px;
}

#about-tabs {
  padding-right: 150px;
}

#profile2 {
  max-width: 400px;
  padding: 20px;
  display: inline-block;
}

#pdxskyline {
  max-width: 400px;
  padding: 20px;
  display: inline-block;
}

#pagetitle {
  padding-left: 30px;
  padding-right: 30px;
}

#wikidietcard {
  background-color: #B0BEC5;
}

#wikidiet {
  max-width: 200px;
}

#myrecipescard {
  background-color: #4CAF50;
}

#foodcartfindercard {
  background-color: #0277BD;
  color: #fff;
}

#foodcartfinder {
  max-width: 125px
}

#pdxweathercard {
  background-color: #FFAB40;
}

#pdxweather {
  max-width: 100px;
  border-radius: 7%;
}

#bbcountercard {
  background-color: #2196F3;
  color: #fff;
}

#bbcounter {
  max-width: 100px;
  border-radius: 7%;
}

#nateswingscard {
  background-color: #EF6C00;
  color: #fff;
}

#nateswings {
  max-width: 100px;
}

#timetrackercard {
  background-color: #283593;
  color: #fff;
}

#timetracker {
  max-width: 225px;
}
#weekendbrunchfindercard {
  background-color: #FF9800;
}

#weekendbrunchfinder {
  max-width: 225px;
}

#linkedincontact:hover {
  background-color: #0077B5; color: white;
}

#twittercontact:hover {
  background-color: #1DA1F2; color: white
}

#jslogo {
  max-width: 90px;
  display: inline;
}

#angularjslogo {
  max-width: 90px;
  display: inline;
}

#angularlogo {
  max-width: 90px;
  display: inline;
}

#nodejslogo {
  max-width: 110px;
  display: inline;
}

#oregonicon {
  max-width: 120px;
  display: inline;
}

#keyboard-img {
  max-width: 650px;
}

.goToTop {
  position: fixed;
  width: 100px;
  height: 40px;
  bottom: 0;
  right: 0;
  z-index: 100000;
  cursor: pointer;
  margin: 10px;
  -moz-opacity: 0.60;
  opacity: .60;
  filter: alpha(opacity=60);
}


