<div class="homepage">
  <h2>I'm Nathan Pickard and I am a Full-Stack JavaScript Developer</h2>
  <br>

  <div layout="row" layout-align="center center" style="min-width: 650px;">

    <h3 style="display: inline; padding-right: 15px;">This is what I code in:</h3>

    <div layout="column" layout-align="center center" style="margin: 8px 8px 8px 8px;">
      <img ng-src="./img/js-logo.png" id="jslogo">
      <p>{JavaScript}</p>
    </div>

    <div layout="column" layout-align="center center" style="margin: 8px 8px 8px 8px;">
      <img ng-src="./img/angularjs-logo.svg" id="angularjslogo">
      <p ng-non-bindable>{{AngularJS}}</p>
    </div>

    <img ng-src="./img/nodejs-black.svg" id="nodejslogo" style="margin: 8px 8px 8px 8px;">
    <img ng-src="./img/oregon-state.png" id="oregonicon" style="margin: 8px 8px 8px 8px;">

  </div>

  <!--<img ng-src="./img/keyboard.jpg" id="keyboard-img">-->

</div>